<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=izenburua%></title>
</head>
<body>

<h2>Bezero berri bat txertatu/editatu</h2>
<form action="/bezeroa" method="POST">
    Izena: <input type="text" name="izena"> <br>
    Abizena:	<input type="text" name="abizena"> <br>
    Email: <input type="text" name="email"> <br>
    <input type="submit" value="Gorde">
</form>

<h2>Bezero zerrenda</h2>
    <ul>
        <% bezeroak.forEach( function(bezeroa) { %>
        <li><%=bezeroa.izena %> <%=bezeroa.abizena%>
            <a href="/bezeroa/editatu/<%=bezeroa._id%>">Editatu</a>
            <a href="/bezeroa/ezabatu/<%=bezeroa._id%>">Ezabatu</a> </li>
        <% }) %>
    </ul>
</body>
</html>
